<h1>Items</h1>

<h2>Items that are not done</h2>

<ul>
  {{#each items}}
    {{#unless done}}
      {{> items/item-block done=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Items that are done</h2>

<ul>
  {{#each items}}
    {{#if done}}
      {{> items/item-block done=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add an Item</h2>
<form class="create-form">

  <div class="form-group">
    <label for="new-item">Item Name:</label>
    <input type="text" id="new-item" name="item">
  </div>

  <button class="btn btn-primary" type="submit" value="Submit">Add Item</button>
</form>