
<div id="top-bar" class="container-fluid">

<div id="logotype" class="container">
    <span class="head-light font-weight-light">un</span><span class="head-bold font-weight-bold">gravity</span>
</div>

</div>

<div class="container">

<br>
<h2 class="subhead">add</h2>
<form class="create-form">

    <div class="form-group input-group mb-0">

        <input id="new-item" type="text" class="form-control" placeholder="Add a new item to the list" name="item">

        <div class="input-group-append">

        <button class="btn btn-danger btn-sm" type="submit" value="Submit">add item</button>

    </div>
</div>

</form>

<br>
<h2 class="subhead">to-do</h2>

<ul class="list-group mb-0">
    {{#each items}}
    {{#unless done}}
    {{> items/item-block done=true}}
    {{/unless}}
    {{/each}}
</ul>

<br>
<h2 class="subhead">done</h2>

<ul class="list-group mb-0">
    {{#each items}}
    {{#if done}}
    {{> items/item-block done=false}}
    {{/if}}
    {{/each}}
</ul>

</div>