/* CSS */

body {
    background-color: aliceblue;
}

.head-light {
    color: #aaa;
    font-size: 3rem;
}

.head-bold {
    color: #777;
    font-size: 3rem;
}

.subhead {
    color: #777;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: .05rem;
}